@page "/{action?}/{id:int?}" 
@model IndexModel


<h2>Todo App</h2>

<partial name="_PartialForm" />

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>UitersteDatum</th>
            <th>Description</th>
            <th>Mark finished</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model.TodoList)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.Title</td>
                <td>@todo.UitersteDatum</td>
                <td>@todo.Description</td>
                <td><a href="/todoVoltooid/@todo.Id">finished</a></td>
            </tr>

        }
    </tbody>
</table>
    


