body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    form label {
        margin-top: 10px;
    }

    form input {
        margin-top: 5px;
        height: 30px;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 5px;
    }

    form button {
        margin-top: 20px;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        form button:hover {
            background-color: #45a049;
        }

table {
    border-collapse: collapse;
    width: 70%;
}

    table thead {
        background-color: #f2f2f2;
    }

    table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table a {
        color: blue;
        text-decoration: none;
    }

        table a:hover {
            color: darkblue;
            text-decoration: underline;
        }
