<html>
<head>
    <link href="/styles/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>@ViewData["Title"] - Todo App</title>

</head>
<body>
    
    <partial name="_PartialMenu"></partial>

    @RenderBody() 
</body>
</html>
