<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/Index">
        <img src="/Images/Logo_Belastingdienst.svg.png" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Index" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Pagina">Pagina</a>
                
            </li>
           
        </ul>
    </div>
</nav>
