* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  header, footer {
    background: hsl(17, 100%, 52%);
    padding: 15px;
  }
  
  .flex-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  
  nav {
    background-color: cornflowerblue;
    padding: 2px;
    flex: 1; 
  }
  
  nav div {
    background-color: lightblue;
    padding: 15px;
    margin-bottom: 2px;
  }
  
  nav div:hover {
    background-color: purple;
  }
  
  nav div:last-child {
    margin-bottom: 0;
  }
  
  .main-container {
    display: flex;
    flex: 3; 
  }
  
  main {
    flex: 2; /* Occupy 2/3 of the main container */
    background: lightgreen;
    padding: 15px;
    min-height: 200px;
  }
  
  aside {
    flex: 1; /* Occupy 1/3 of the main container */
    background: lightblue;
    padding: 15px;
    min-height: 50px;
  }
  
  aside ul {
    padding: 15px 30px;
    list-style-type: none;
  }
  
  @media (max-width: 768px) {
    nav {
      flex-basis: 100%;
    }
  
    main {
      flex-basis: 100%;
    }
  
    aside {
      flex-basis: 100%;
    }
  }
  